@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --md-source: 255 126 0;
        /* light */
        --md-sys-color-primary-light: 255 140 0;
        --md-sys-color-on-primary-light: 255 255 255;
        --md-sys-color-primary-container-light: 255 219 199;
        --md-sys-color-on-primary-container-light: 49 19 0;
        --md-sys-color-secondary-light: 117 88 70;
        --md-sys-color-on-secondary-light: 255 255 255;
        --md-sys-color-secondary-container-light: 255 219 199;
        --md-sys-color-on-secondary-container-light: 43 23 9;
        --md-sys-color-tertiary-light: 97 97 52;
        --md-sys-color-on-tertiary-light: 255 255 255;
        --md-sys-color-tertiary-container-light: 231 230 173;
        --md-sys-color-on-tertiary-container-light: 29 29 0;
        --md-sys-color-error-light: 186 26 26;
        --md-sys-color-error-container-light: 255 218 214;
        --md-sys-color-on-error-light: 255 255 255;
        --md-sys-color-on-error-container-light: 65 0 2;
        --md-sys-color-background-light: 255 251 255;
        --md-sys-color-on-background-light: 32 26 23;
        --md-sys-color-surface-light: 255 251 255;
        --md-sys-color-on-surface-light: 32 26 23;
        --md-sys-color-surface-variant-light: 244 222 211;
        --md-sys-color-on-surface-variant-light: 82 68 60;
        --md-sys-color-outline-light: 132 116 106;
        --md-sys-color-inverse-on-surface-light: 251 238 232;
        --md-sys-color-inverse-surface-light: 54 47 43;
        --md-sys-color-inverse-primary-light: 255 182 136;
        --md-sys-color-shadow-light: 0 0 0;
        --md-sys-color-surface-tint-light: 151 72 0;
        --md-sys-color-outline-variant-light: 215 195 184;
        --md-sys-color-scrim-light: 0 0 0;
        /* dark */
        --md-sys-color-primary-dark: 255 182 136;
        --md-sys-color-on-primary-dark: 255 255 255;
        --md-sys-color-primary-container-dark: 115 53 0;
        --md-sys-color-on-primary-container-dark: 255 219 199;
        --md-sys-color-secondary-dark: 229 191 169;
        --md-sys-color-on-secondary-dark: 255 255 255;
        --md-sys-color-secondary-container-dark: 91 65 48;
        --md-sys-color-on-secondary-container-dark: 255 219 199;
        --md-sys-color-tertiary-dark: 202 201 147;
        --md-sys-color-on-tertiary-dark: 50 50 10;
        --md-sys-color-tertiary-container-dark: 73 73 30;
        --md-sys-color-on-tertiary-container-dark: 231 230 173;
        --md-sys-color-error-dark: 255 180 171;
        --md-sys-color-error-container-dark: 147 0 10;
        --md-sys-color-on-error-dark: 105 0 5;
        --md-sys-color-on-error-container-dark: 255 218 214;
        --md-sys-color-background-dark: 32 26 23;
        --md-sys-color-on-background-dark: 236 224 218;
        --md-sys-color-surface-dark: 32 26 23;
        --md-sys-color-on-surface-dark: 236 224 218;
        --md-sys-color-surface-variant-dark: 82 68 60;
        --md-sys-color-on-surface-variant-dark: 215 195 184;
        --md-sys-color-outline-dark: 159 141 131;
        --md-sys-color-inverse-on-surface-dark: 32 26 23;
        --md-sys-color-inverse-surface-dark: 236 224 218;
        --md-sys-color-inverse-primary-dark: 151 72 0;
        --md-sys-color-shadow-dark: 0 0 0;
        --md-sys-color-surface-tint-dark: 255 182 136;
        --md-sys-color-outline-variant-dark: 82 68 60;
        --md-sys-color-scrim-dark: 0 0 0;
    }

}