@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --md-source: #34d399;
        /* light */
        --md-sys-color-primary-light: #006c4b;
        --md-sys-color-on-primary-light: #ffffff;
        --md-sys-color-primary-container-light: #68fcbf;
        --md-sys-color-on-primary-container-light: #002114;
        --md-sys-color-secondary-light: #006b5f;
        --md-sys-color-on-secondary-light: #ffffff;
        --md-sys-color-secondary-container-light: #62fae3;
        --md-sys-color-on-secondary-container-light: #00201c;
        --md-sys-color-tertiary-light: #a43073;
        --md-sys-color-on-tertiary-light: #ffffff;
        --md-sys-color-tertiary-container-light: #ffd8e7;
        --md-sys-color-on-tertiary-container-light: #3d0026;
        --md-sys-color-error-light: #ba1a1a;
        --md-sys-color-error-container-light: #ffdad6;
        --md-sys-color-on-error-light: #ffffff;
        --md-sys-color-on-error-container-light: #410002;
        --md-sys-color-background-light: #fbfdf9;
        --md-sys-color-on-background-light: #191c1a;
        --md-sys-color-surface-light: #fbfdf9;
        --md-sys-color-on-surface-light: #191c1a;
        --md-sys-color-surface-variant-light: #dce5dd;
        --md-sys-color-on-surface-variant-light: #404943;
        --md-sys-color-outline-light: #707973;
        --md-sys-color-inverse-on-surface-light: #eff1ed;
        --md-sys-color-inverse-surface-light: #2e312f;
        --md-sys-color-inverse-primary-light: #45dfa4;
        --md-sys-color-shadow-light: #000000;
        --md-sys-color-surface-tint-light: #006c4b;
        --md-sys-color-outline-variant-light: #bfc9c1;
        --md-sys-color-scrim-light: #000000;
        /* dark */
        --md-sys-color-primary-dark: #45dfa4;
        --md-sys-color-on-primary-dark: #003825;
        --md-sys-color-primary-container-dark: #005137;
        --md-sys-color-on-primary-container-dark: #68fcbf;
        --md-sys-color-secondary-dark: #3cddc7;
        --md-sys-color-on-secondary-dark: #003731;
        --md-sys-color-secondary-container-dark: #005047;
        --md-sys-color-on-secondary-container-dark: #62fae3;
        --md-sys-color-tertiary-dark: #ffafd3;
        --md-sys-color-on-tertiary-dark: #620040;
        --md-sys-color-tertiary-container-dark: #85145a;
        --md-sys-color-on-tertiary-container-dark: #ffd8e7;
        --md-sys-color-error-dark: #ffb4ab;
        --md-sys-color-error-container-dark: #93000a;
        --md-sys-color-on-error-dark: #690005;
        --md-sys-color-on-error-container-dark: #ffdad6;
        --md-sys-color-background-dark: #191c1a;
        --md-sys-color-on-background-dark: #e1e3df;
        --md-sys-color-surface-dark: #191c1a;
        --md-sys-color-on-surface-dark: #e1e3df;
        --md-sys-color-surface-variant-dark: #404943;
        --md-sys-color-on-surface-variant-dark: #bfc9c1;
        --md-sys-color-outline-dark: #8a938c;
        --md-sys-color-inverse-on-surface-dark: #191c1a;
        --md-sys-color-inverse-surface-dark: #e1e3df;
        --md-sys-color-inverse-primary-dark: #006c4b;
        --md-sys-color-shadow-dark: #000000;
        --md-sys-color-surface-tint-dark: #45dfa4;
        --md-sys-color-outline-variant-dark: #404943;
        --md-sys-color-scrim-dark: #000000;
}

@layer components {
    .text-primary {
        @apply text-primary-default
    }
}

}